body {
    margin: 0;
    padding: 0;
    background-color: #cecece;
}

.main {
    margin: 0 auto;
    max-width: 960px;
    width: 960px;
}

.left-panel, .right-panel {
    padding: 0;
}
.right-panel {
    padding-left: 12px;
}

.row,
.image,
.image img {
    margin: 0;
    padding: 0;
}

.left-panel img {
    padding: 12px 6px 0 0;
    width: 100%;
}

.left-panel .image.row-last img {
    padding-left: 6px;
}

.left-panel .last img {
    padding: 12px 0 0;
    width: 480px;
    height: 378px;
}



.right-panel .image img {
    padding: 12px 6px 0 6px;
    width: 156px;
    height: 156px;
}

.right-panel .image.row-first img {
    padding-left: 0;
}
.right-panel .image.row-last img {
    padding-right: 0;
}


.image.row-last img {
    padding-right: 0;
}

.item img {
    width: 100%;
    height: 468px;
    padding: 0;
}

.item {
    height: 468px !important;
}

.fake-image {
    margin: 0 auto;
    max-width: 960px;
    width: 960px;
    display: block;
}